body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;

}
#contador{
    background-color: saddlebrown;
    height: 1rem;
    padding: 2rem;
    margin: 2rem auto;
    
}
div{
    background-color: rgb(26, 70, 70);
    display: flex;
    flex-direction: column;
}